.row {
    margin: 8px;
    padding: 0;
    box-sizing: border-box;
}

.col h1 {
    text-align: center;
    margin: 15px;
}

form {
    padding: 20px 0;
    margin: 5px;
}

.btn-success {
    margin: 7px;
}